apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-web
  namespace: movies
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-web
  template:
    metadata:
      labels:
        app: api-web
    spec:
      initContainers:
        - name: fetch-movielens
          image: alpine:3.20
          command: ["/bin/sh","-lc"]
          args:
            - apk add --no-cache curl unzip >/dev/null &&
              mkdir -p /data &&
              curl -L -o /tmp/ml.zip https://files.grouplens.org/datasets/movielens/ml-latest-small.zip &&
              unzip -q /tmp/ml.zip -d /tmp/ml &&
              mv /tmp/ml/ml-latest-small/* /data/
          volumeMounts:
            - name: moviedata
              mountPath: /data
      containers:
        - name: api-web
          image: paulinamtz7/movies-api-web:1.2
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: movies-config
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: movies-config
                  key: DB_PORT
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: movies-config
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: movies-config
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD_FILE
              value: /run/secrets/postgres_password
            - name: RECOMMENDER_URL
              valueFrom:
                configMapKeyRef:
                  name: movies-config
                  key: RECOMMENDER_URL
          volumeMounts:
            - name: pgsecret
              mountPath: /run/secrets
              readOnly: true
            - name: moviedata
              mountPath: /app/data
              readOnly: true
      volumes:
        - name: pgsecret
          secret:
            secretName: postgres-password
        - name: moviedata
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: api-web
  namespace: movies
spec:
  selector:
    app: api-web
  ports:
    - port: 5000
      targetPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: api-web-nodeport
  namespace: movies
spec:
  type: NodePort
  selector:
    app: api-web
  ports:
    - port: 80
      targetPort: 5000
      nodePort: 30080
